.work-experience {
    padding: 40px 30px;
    background: var(--bg-secondary);
}

.work-experience.section-title {
    color: var(--text-primary);
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 24px;
    letter-spacing: -0.8px;
}

.work-table-header-wrapper {
    border-bottom: 0.8px solid var(--border-primary);
}

.work-table-header,
.work-table-row {
    margin: 0 20px;
    display: grid;
    grid-template-columns: 14px 2.5fr 1fr 1fr 1fr;
    align-items: center;
    gap: 16px;
    padding: 12px 0;
}

.work-table-header {
    font-size: 13px;
    font-weight: 500;
    color: var(--text-muted);
}

.work-table-row {
    font-size: 14px;
    color: var(--text-primary);
    transition: background 0.3s ease;
}

.work-table-row-wrapper {
    border-radius: 6px;
    transition: background 0.3s ease;
}

.work-table-row-wrapper:hover {
    background-color: var(--bg-light);
}

.col {
    display: flex;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: var(--text-muted);
}

.table-logo {
    width: 50px;
    height: 50px;
    border-radius: 4px;
    margin-right: 8px;
    object-fit: cover;
    background-color: #2a2a2a;
}

.col-title {
    display: flex;
    align-items: center;
    gap: 12px;
}

.title-info {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.job-title {
    font-size: 15px;
    font-weight: 500;
    color: var(--text-primary);
}

.company-name {
    font-size: 14px;
    color: var(--text-muted)
}

/* Hide Date at 1200px and below */
@media (max-width: 1200px) {

    .work-table-header,
    .work-table-row {
        grid-template-columns: 40px 2fr 1fr 1fr;
        /* Remove Date */
    }

    .col-daterange {
        display: none;
    }
}

/* Hide Job Type at 992px and below */
@media (max-width: 992px) {

    .work-table-header,
    .work-table-row {
        grid-template-columns: 40px 2fr 1fr;
        /* Remove Job Type and Date */
    }

    .col-jobtype {
        display: none;
    }
}

@media (max-width: 768px) {

    .work-table-header,
    .work-table-row {
        grid-template-columns: 14px 2.8fr 1fr;
    }

    .col-daterange {
        display: none;
    }
}

@media (max-width: 480px) {
    .work-experience {
        padding: 20px 20px;
    }

    .work-experience .section-title {
        font-size: 20px;
        margin-bottom: 10px;
    }
    
    .work-table-header,
    .work-table-row {
        grid-template-columns: 14px 2.8fr;
    }

    .col-location {
        display: none;
    }

    .work-table-header,
    .work-table-row {
        margin: 0 10px;
    }

    .table-logo {
        width: 40px;
        height: 40px;
        border-radius: 2px;
        margin-right: 2px;
    }

    .job-title {
        font-size: 14px;
    }

    .company-name {
        font-size: 13px;
    }

    .title-info {
        gap: 2px;
    }
}